{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <section class="containerLogin">         
            <h2>Mentions Légales</h2>
            <div class="rgpdContainer">
                <p>Guillaume Vignères développeur web junion spécialisé back-end php/symfony en recherche d'emploi.
                Le site est hébergé par OVH, dont le siège social est situé 2 rue Kellermann 59100 ROUBAIX.</p><br />
                <p>Me contacter:</p><br />
                <p>Par téléphone : +33 1 80 88 80 30<br />
                Par email : guillaume.vigneres@gmail.com<br />
                Par courrier : Guillaume Vignères, 15 rue de Lapeyrade - 65360 Momères, France</p><br />
                <p>Pour plus d’informations sur tous vos droits relatif à vos données personnelles vous pouvez me contacter à l'adresse mail ci-dessus.</p>
            </div>
        </section>
    </main>
{% endblock %}
